# Node modules
node_modules/

# Environment variables
.env.development.local
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build
dist/
build/

# TypeScript
*.tsbuildinfo

# Jest
coverage/
jest-cache/
jest.config.js

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Prettier
*.prettierignore

# ESLint
.eslintcache

# Miscellaneous
.DS_Store
*.tgz
*.lock

# Ignore editor specific files
.vscode/
.idea/

# Ignore OS-specific files
Thumbs.db

# npm package-lock
package-lock.json