<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/real-estate-1-12/50/13-512.png" type="image/png">
  <title>Sign Up</title>
</head>

<body>
  <div class="container form-container">
    <h1 class="mt-5">Sign Up</h1>
    <form action="/auth/signup" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" id="role" name="role">
          <option value="CLIENT">Client</option>
          <option value="MANAGER">Manager</option>
        </select>
      </div>
      <div class="row ml-2">
        <p class="mr-2">Have an account?</p>
        <a href="/signin">Sign in</a>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</body>

<style>
  .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
  }
</style>

</html>